.page-four-add__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 10px 20px;
}

.page-four-add__info {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

.page-four-add__info-left {
    flex: 1;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.incase-you-know {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.host-image {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.host-image > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 100%;
}

.page-four-add__info-left > p {
    margin: 20px 10px 10px 10px;
}

.host-navigation {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-items: center;
    margin: 5px auto;
}

.host-navigation > li {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    justify-content: center;
}

.baby {
    margin-bottom: 10px;
}

.host-navigation > li:hover {
    background-color: #ff7779;
    color: white;
}

.page-four-add__info-right {
    flex: 4;
    width: 100%;
    min-height: 100%;
    background-color: white;
    border: 1px solid antiquewhite;
    display: flex;
    flex-direction: column;
}

.fill-up-detail-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid antiquewhite;
    align-items: center;
}

.fill-up-detail-header > p {
    margin: 10px 0;
    padding: 10px;
}

.fill-up-detail-header > p:nth-child(2) {
    border: 1px solid antiquewhite;
    border-radius: 10px;
}

.fill-up-detail-form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 1px solid antiquewhite;
}

.fill-up-detail-form > label {
    margin: 10px 5px 10px 10px;
}

.fill-up-detail-form > input {
    margin: 10px 10px;
    padding: 10px;
}

.fill-up-detail-form > button {
    background-color: #fca1a3;
    color: white;
    text-transform: inherit;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.fill-up-detail-form > button:hover {
    background-color: #ff7779;
    color: white;
}

.grown-ups > p {
    margin: 20px auto;
}

.grown-ups > button {
    margin: 10px auto;
    background-color: #fca1a3;
    color: white;
    text-transform: inherit;
    transition: all 0.3s ease-in-out;
}

.grown-ups > button:hover {
    background-color: #ff7779;
    color: white;
}

.now-house-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.now-house-images-one {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid antiquewhite;
    padding: 10px;
}

.now-house-images-one > label {
    margin: 10px auto;
}
.now-house-images-one > input {
    margin: 10px;
}

.tough-tech {
    display: flex;
    flex-direction: column;
}

.tough-tech > button {
    margin: 10px 0;
    background-color: #fca1a3;
    color: white;
    text-transform: inherit;
    transition: all 0.3s ease-in-out;
}

.tough-tech > button:hover {
    background-color: #ff7779;
    color: white;
}

/* 440px Mobile resposive */
@media screen and (max-width: 440px) {
    .page-four-add__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 20px;
    }
    
    .page-four-add__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .page-four-add__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .page-four-add__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }
    
    .host-navigation > li:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .page-four-add__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        flex-direction: column;
    }
    
    .fill-up-detail-header {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid antiquewhite;
        align-items: center;
    }
    
    .fill-up-detail-header > p {
        margin: 10px 0;
        padding: 10px;
    }
    
    .fill-up-detail-header > p:nth-child(2) {
        border: 1px solid antiquewhite;
        border-radius: 10px;
    }
    
    .fill-up-detail-form {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        border: 1px solid antiquewhite;
    }
    
    .fill-up-detail-form > label {
        margin: 10px 5px 10px 10px;
    }
    
    .fill-up-detail-form > input {
        margin: 10px 10px;
        padding: 10px;
    }
    
    .fill-up-detail-form > button {
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
    }
    
    .fill-up-detail-form > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .grown-ups > p {
        margin: 20px auto;
    }
    
    .grown-ups > button {
        margin: 10px auto;
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .grown-ups > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .now-house-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    .now-house-images-one {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 40px 10px;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border: 1px solid antiquewhite;
        padding: 10px;
    }
    
    .now-house-images-one > label {
        margin: 10px auto;
    }
    .now-house-images-one > input {
        margin: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .tough-tech {
        display: flex;
        flex-direction: column;
    }
    
    .tough-tech > button {
        margin: 10px 0;
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .tough-tech > button:hover {
        background-color: #ff7779;
        color: white;
    }
}
/* end */


/* 540px to 750px Mobile resposive */
@media screen and (min-width: 540px) and (max-width: 750px) {
    .page-four-add__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 20px;
    }
    
    .page-four-add__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .page-four-add__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .page-four-add__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }
    
    .host-navigation > li:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .page-four-add__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        flex-direction: column;
    }
    
    .fill-up-detail-header {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid antiquewhite;
        align-items: center;
    }
    
    .fill-up-detail-header > p {
        margin: 10px 0;
        padding: 10px;
    }
    
    .fill-up-detail-header > p:nth-child(2) {
        border: 1px solid antiquewhite;
        border-radius: 10px;
    }
    
    .fill-up-detail-form {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        border: 1px solid antiquewhite;
    }
    
    .fill-up-detail-form > label {
        margin: 10px 5px 10px 10px;
    }
    
    .fill-up-detail-form > input {
        margin: 10px 10px;
        padding: 10px;
    }
    
    .fill-up-detail-form > button {
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
    }
    
    .fill-up-detail-form > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .grown-ups > p {
        margin: 20px auto;
    }
    
    .grown-ups > button {
        margin: 10px auto;
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .grown-ups > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .now-house-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    .now-house-images-one {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 40px 10px;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border: 1px solid antiquewhite;
        padding: 10px;
    }
    
    .now-house-images-one > label {
        margin: 10px auto;
    }
    .now-house-images-one > input {
        margin: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .tough-tech {
        display: flex;
        flex-direction: column;
    }
    
    .tough-tech > button {
        margin: 10px 0;
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .tough-tech > button:hover {
        background-color: #ff7779;
        color: white;
    }
}
/* end */


/* 760px  to 1030px Mobile resposive */
@media screen and (min-width: 760px) and (max-width: 1030px) {
    .page-four-add__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 20px;
    }
    
    .page-four-add__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .page-four-add__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .page-four-add__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }
    
    .host-navigation > li:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .page-four-add__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        flex-direction: column;
    }
    
    .fill-up-detail-header {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid antiquewhite;
        align-items: center;
    }
    
    .fill-up-detail-header > p {
        margin: 10px 0;
        padding: 10px;
    }
    
    .fill-up-detail-header > p:nth-child(2) {
        border: 1px solid antiquewhite;
        border-radius: 10px;
    }
    
    .fill-up-detail-form {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        border: 1px solid antiquewhite;
    }
    
    .fill-up-detail-form > label {
        margin: 10px 5px 10px 10px;
    }
    
    .fill-up-detail-form > input {
        margin: 10px 10px;
        padding: 10px;
    }
    
    .fill-up-detail-form > button {
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
    }
    
    .fill-up-detail-form > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .grown-ups > p {
        margin: 20px auto;
    }
    
    .grown-ups > button {
        margin: 10px auto;
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .grown-ups > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .now-house-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .now-house-images-one {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border: 1px solid antiquewhite;
        padding: 10px;
        width: 30%;
    }
    
    .now-house-images-one > label {
        margin: 10px auto;
    }
    .now-house-images-one > input {
        margin: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .tough-tech {
        display: flex;
        flex-direction: column;
    }
    
    .tough-tech > button {
        margin: 10px 0;
        background-color: #fca1a3;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .tough-tech > button:hover {
        background-color: #ff7779;
        color: white;
    }
}
/* end */