.edit-fourth__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 10px 20px;
}

.edit-fourth__info {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

.edit-fourth__info-left {
    flex: 1;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.incase-you-know {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.host-image {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.host-image > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 100%;
}

.edit-fourth__info-left > p {
    margin: 20px 10px 10px 10px;
}

.host-navigation {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-items: center;
    margin: 5px auto;
}

.host-navigation > li {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    justify-content: center;
}

.host-navigation > li:hover {
    background-color: #ff7779;
    color: white;
}

.add-not-added {
    background-color: white;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-not-added-list-vanish {
    display: none;
}

.add-not-added-list {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-not-added-list > button {
    text-transform: inherit;
    margin: 10px auto;
    color: black;
    background-color: antiquewhite;
    width: 60%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
}

.add-not-added-list > button:hover {
    background-color: #ff7779;
    color: white;
}

.add-not-added:hover {
    background-color: #ff7779;
    color: white;
}

.edit-fourth__info-right {
    flex: 4;
    width: 100%;
    min-height: 100%;
    background-color: white;
    border: 1px solid antiquewhite;
    display: flex;
    justify-content: space-evenly;
}
.edit-fourth__info-right-block {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border: 1px solid antiquewhite;
    width: 90%;
    justify-content: center;
}
.fourth-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.edit-fourth__info-right-image-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.edit-fourth__info-right-input {
    align-self: center;
}
.edit-fourth__info-right-image-container > input {
    margin: 20px 20px;
}

.edit-fourth__info-right-image {
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    position: relative;
}


.dance-update {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dance-update:hover {
    background-color: #ff7779;
    color: white;
}

.dance-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.dance-title-two {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    color: black;
}

.edit-fourth__info-right-image > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.edit-fourth__info-right-input {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.edit-fourth__info-right-input > label {
    min-width: 8vw;
    padding: 10px;
}

.edit-fourth__info-right-input > input {
    width: 20vw;
    padding: 10px;
}
.edit-fourth__info-right-input > textarea {
    width: 20vw;
    padding: 10px;
}

.edit-fourth__info-right-buttonOne {
    margin: 10px auto;
}

.edit-fourth__info-right-buttonOne > button{
    background-color: antiquewhite;
    text-transform: inherit;
    color: #ff7779;
    transition: all 0.3s ease-in-out;
}

.edit-fourth__info-right-buttonOne > button:hover {
    background-color: #ff7779;
    color: white;
}

.edit-fourth__info-right-buttonTwo {
    margin: 10px auto;
}

.edit-fourth__info-right-buttonTwo > button {
    background-color: antiquewhite;
    text-transform: inherit;
    color: #ff7779;
    transition: all 0.3s ease-in-out;
}

.edit-fourth__info-right-buttonTwo > button:hover {
    background-color: #ff7779;
    color: white;
}

/* 440px Mobile resposive */
@media screen and (max-width: 440px) {
    .edit-fourth__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 20px;
    }
    
    .edit-fourth__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
    }
    
    .edit-fourth__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .edit-fourth__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }

    .baby {
        margin-bottom: 10px;
    }
    
    .host-navigation > li:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .add-not-added {
        background-color: white;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 10px auto;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .add-not-added-list-vanish {
        display: none;
    }
    
    .add-not-added-list {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        margin: 10px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .add-not-added-list > button {
        text-transform: inherit;
        margin: 10px auto;
        color: black;
        background-color: antiquewhite;
        width: 60%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    .add-not-added-list > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .add-not-added:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .edit-fourth__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        justify-content: space-evenly;
    }
    .edit-fourth__info-right-block {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        border: 1px solid antiquewhite;
        width: 90%;
        justify-content: center;
    }
    .fourth-flex-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .edit-fourth__info-right-image-container {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }
    
    .edit-fourth__info-right-input {
        align-self: center;
    }
    .edit-fourth__info-right-image-container > input {
        margin: 20px 20px;
    }
    
    .edit-fourth__info-right-image {
        width: 80%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto;
        border-radius: 10px;
        position: relative;
    }

    .dance-update {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .dance-update:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .dance-title {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
    }
    
    .dance-title-two {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1;
        color: black;
    }
    
    .edit-fourth__info-right-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 10px;
    }
    
    .edit-fourth__info-right-input {
        display: flex;
        align-items: center;
        margin: 10px 10px;
    }
    
    .edit-fourth__info-right-input > label {
        min-width: 8vw;
        padding: 10px;
    }
    
    .edit-fourth__info-right-input > input {
        width: 20vw;
        padding: 10px;
    }
    .edit-fourth__info-right-input > textarea {
        width: 20vw;
        padding: 10px;
    }
    
    .edit-fourth__info-right-buttonOne {
        margin: 10px auto;
    }
    
    .edit-fourth__info-right-buttonOne > button{
        background-color: antiquewhite;
        text-transform: inherit;
        color: #ff7779;
        transition: all 0.3s ease-in-out;
    }
    
    .edit-fourth__info-right-buttonOne > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .edit-fourth__info-right-buttonTwo {
        margin: 10px auto;
    }
    
    .edit-fourth__info-right-buttonTwo > button {
        background-color: antiquewhite;
        margin: 5px auto 5px 5px;
        text-transform: inherit;
        color: #ff7779;
        transition: all 0.3s ease-in-out;
    }
    
    .edit-fourth__info-right-buttonTwo > button:hover {
        background-color: #ff7779;
        color: white;
    }
}
/* end */


/* 540px to 750px Mobile resposive */
@media screen and (min-width: 540px) and (max-width: 750px) {
    .edit-fourth__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 20px;
    }
    
    .edit-fourth__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
    }
    
    .edit-fourth__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .edit-fourth__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }

    .baby {
        margin-bottom: 10px;
    }
    
    .host-navigation > li:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .add-not-added {
        background-color: white;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 10px auto;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .add-not-added-list-vanish {
        display: none;
    }
    
    .add-not-added-list {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        margin: 10px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .add-not-added-list > button {
        text-transform: inherit;
        margin: 10px auto;
        color: black;
        background-color: antiquewhite;
        width: 60%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    .add-not-added-list > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .add-not-added:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .edit-fourth__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        justify-content: space-evenly;
    }
    .edit-fourth__info-right-block {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        border: 1px solid antiquewhite;
        width: 90%;
        justify-content: center;
    }
    .fourth-flex-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    .edit-fourth__info-right-image-container {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        width: 45%;
    }
    
    .edit-fourth__info-right-input {
        align-self: center;
    }
    .edit-fourth__info-right-image-container > input {
        margin: 20px 20px;
    }
    
    .edit-fourth__info-right-image {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto;
        border-radius: 10px;
        position: relative;
    }
    
    .dance-update {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .dance-update:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .dance-title {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
    }
    
    .dance-title-two {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1;
        color: black;
    }
    
    .edit-fourth__info-right-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 10px;
    }
    
    .edit-fourth__info-right-input {
        display: flex;
        align-items: center;
        margin: 10px 10px;
    }
    
    .edit-fourth__info-right-input > label {
        min-width: 8vw;
        padding: 10px;
    }
    
    .edit-fourth__info-right-input > input {
        width: 20vw;
        padding: 10px;
    }
    .edit-fourth__info-right-input > textarea {
        width: 20vw;
        padding: 10px;
    }
    
    .edit-fourth__info-right-buttonOne {
        margin: 10px auto;
    }
    
    .edit-fourth__info-right-buttonOne > button{
        background-color: antiquewhite;
        text-transform: inherit;
        color: #ff7779;
        transition: all 0.3s ease-in-out;
    }
    
    .edit-fourth__info-right-buttonOne > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .edit-fourth__info-right-buttonTwo {
        margin: 10px auto;
    }
    
    .edit-fourth__info-right-buttonTwo > button {
        background-color: antiquewhite;
        margin: 5px auto 5px 5px;
        text-transform: inherit;
        color: #ff7779;
        transition: all 0.3s ease-in-out;
    }
    
    .edit-fourth__info-right-buttonTwo > button:hover {
        background-color: #ff7779;
        color: white;
    }
}
/* end */


/* 760px  to 1030px Mobile resposive */
@media screen and (min-width: 760px) and (max-width: 1030px) {
    .edit-fourth__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 20px;
    }
    
    .edit-fourth__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
    }
    
    .edit-fourth__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .edit-fourth__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }

    .baby {
        margin-bottom: 10px;
    }
    
    .host-navigation > li:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .add-not-added {
        background-color: white;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 10px auto;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .add-not-added-list-vanish {
        display: none;
    }
    
    .add-not-added-list {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        margin: 10px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .add-not-added-list > button {
        text-transform: inherit;
        margin: 10px auto;
        color: black;
        background-color: antiquewhite;
        width: 60%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    .add-not-added-list > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .add-not-added:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .edit-fourth__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        justify-content: space-evenly;
    }
    .edit-fourth__info-right-block {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        border: 1px solid antiquewhite;
        width: 90%;
        justify-content: center;
    }
    .fourth-flex-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    .edit-fourth__info-right-image-container {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: 20px auto;
    }
    
    .edit-fourth__info-right-input {
        align-self: center;
    }
    .edit-fourth__info-right-image-container > input {
        margin: 20px 20px;
    }
    
    .edit-fourth__info-right-image {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto;
        border-radius: 10px;
        position: relative;
    }
    
    .dance-update {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .dance-update:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .dance-title {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
    }
    
    .dance-title-two {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1;
        color: black;
    }
    
    .edit-fourth__info-right-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 10px;
    }
    
    .edit-fourth__info-right-input {
        display: flex;
        align-items: center;
        margin: 10px 10px;
    }
    
    .edit-fourth__info-right-input > label {
        min-width: 8vw;
        padding: 10px;
    }
    
    .edit-fourth__info-right-input > input {
        width: 20vw;
        padding: 10px;
    }
    .edit-fourth__info-right-input > textarea {
        width: 20vw;
        padding: 10px;
    }
    
    .edit-fourth__info-right-buttonOne {
        margin: 10px auto;
    }
    
    .edit-fourth__info-right-buttonOne > button{
        background-color: antiquewhite;
        text-transform: inherit;
        color: #ff7779;
        transition: all 0.3s ease-in-out;
    }
    
    .edit-fourth__info-right-buttonOne > button:hover {
        background-color: #ff7779;
        color: white;
    }
    
    .edit-fourth__info-right-buttonTwo {
        margin: 10px auto;
    }
    
    .edit-fourth__info-right-buttonTwo > button {
        background-color: antiquewhite;
        margin: 5px auto 5px 5px;
        text-transform: inherit;
        color: #ff7779;
        transition: all 0.3s ease-in-out;
    }
    
    .edit-fourth__info-right-buttonTwo > button:hover {
        background-color: #ff7779;
        color: white;
    }
}
/* end */