.tenant-review__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 10px 20px;
}

.tenant-review__info {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

.tenant-review__info-left {
    flex: 1;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.incase-you-know {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.TenantsDetailsMenuBar {
    background-color: #F78513;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.TenantsDetailsMenuBar:hover {
    color: white;
}

.host-image {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.host-image > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 100%;
}

.tenant-review__info-left > p {
    margin: 20px 10px 10px 10px;
}

.host-navigation {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-items: center;
    margin: 5px auto;
}

.host-navigation > li {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    justify-content: center;
}

.host-navigation > li:hover {
    background-color: #F78513;
    color: white;
}

.tenant-review__info-right {
    flex: 4;
    width: 100%;
    min-height: 100%;
    background-color: white;
    border: 1px solid antiquewhite;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.tenant-review__info-right > button {
    background-color: #F78513;
    color: white;
    text-transform: inherit;
    transition: all 0.3s ease-in-out;
} 

.tenant-review__info-right > button:hover {
    background-color: white;
    color: #F78513;
    border: 1px solid #F78513;
}

.tenant-review__info-right > h4 {
    margin: 10px auto;
}


.tenant-review__info-right > p {
    margin: 10px auto;
}

.tenant-review__info-rightMainContainer {
    width: 30%;
    min-height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border: 1px solid antiquewhite;
    border: 0px solid black;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.tenant-review__info-rightMainContainerTop {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.tenant-review__info-rightMainContainerTop:hover {
    -webkit-filter: brightness(95%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.tenant-review__info-rightMainContainerTop > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.tenant-review__info-rightMainContainerBottom {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tenant-review__info-rightMainContainerBottom > label {
    margin: 5px 10px;
    border-bottom: 1px solid lightgray;
    width: 180px;
    font-weight: bold;
}

.tenant-review__info-rightMainContainerBottom > p { 
    margin: 0 10px;
}

.tenant-review__info-rightMainContainerBottom > p:nth-of-type(10) {
    margin: 0 10px 10px 10px;
}

.tenant-review__info-rightMainContainerBottomImage {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 10px;
    right: 20px;
}

.tenant-review__info-rightMainContainerBottomImage:hover {
    -webkit-filter: brightness(95%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.tenant-review__info-rightMainContainerBottomImage > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.tenant-review__info-rightMainContainerBottomButton {
    position: absolute;
    top: 80px;
    right: 20px;
}

.whyP {
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    justify-content: center;
    padding: 5px;
}

.whyP2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.tenant-review__info-rightMainContainerBottomButton > button {
    background-color: #F78513;
    color: white;
    text-transform: inherit;
    transition: all 0.3s ease-in-out;
}

.tenant-review__info-rightMainContainerBottomButton > button:hover {
    background-color: white;
    color: #F78513;
    border: 1px solid #F78513;
}

.tenant-review__info-rightMainContainerBottomButtonTwo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    min-height: 10vh;
    align-items: center;
    border-top: 1px solid #EEEE;
}

.tenant-review__info-rightMainContainerBottomButtonTwo > button {
    background-color: #F78513;
    color: white;
    text-transform: inherit;
    transition: all 0.3s ease-in-out;
}


.tenant-review__info-rightMainContainerBottomButtonTwo > button:hover {
    background-color: white;
    color: #F78513;
    border: 1px solid #F78513;
}

.tenant-review__info-right_container_rating {
    width: 60%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tenant-review__info-right_child_rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* 440px Mobile resposive */
@media screen and (max-width: 440px) {
    .tenant-review__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 10px;
    }
    
    .tenant-review__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
    }
    
    .tenant-review__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .tenant-review__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }

    .deal-done {
        margin-bottom: 10px;
    }
    
    .host-navigation > li:hover {
        background-color: #F78513;
        color: white;
    }
    
    .tenant-review__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .tenant-review__info-rightMainContainer {
        width: 90%;
        min-height: 80vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        border: 1px solid antiquewhite;
        border: 0px solid black;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    }
    
    .tenant-review__info-rightMainContainerTop {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
    }
    
    .tenant-review__info-rightMainContainerTop:hover {
        -webkit-filter: brightness(95%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .tenant-review__info-rightMainContainerTop > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .tenant-review__info-rightMainContainerBottom {
        width: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .tenant-review__info-rightMainContainerBottom > label {
        margin: 5px 10px;
        border-bottom: 1px solid lightgray;
        width: 180px;
        font-weight: bold;
    }
    
    .tenant-review__info-rightMainContainerBottom > p { 
        margin: 0 10px;
    }
    
    .tenant-review__info-rightMainContainerBottom > p:nth-of-type(10) {
        margin: 0 10px 10px 10px;
    }
    
    .tenant-review__info-rightMainContainerBottomImage {
        position: absolute;
        width: 80px;
        height: 60px;
        top: 10px;
        right: 20px;
    }
    
    .tenant-review__info-rightMainContainerBottomImage:hover {
        -webkit-filter: brightness(95%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .tenant-review__info-rightMainContainerBottomImage > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .tenant-review__info-rightMainContainerBottomButton {
        position: absolute;
        top: 80px;
        right: 20px;
    }
    
    .tenant-review__info-rightMainContainerBottomButton > button {
        background-color: #F78513;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .tenant-review__info-rightMainContainerBottomButton > button:hover {
        background-color: white;
        color: #F78513;
        border: 1px solid #F78513;
    }

    .tenant-review__info-right_container_rating {
        width: 95%;
    }
}
/* end */



/* 540px to 750px Mobile resposive */
@media screen and (min-width: 540px) and (max-width: 750px) {
    .tenant-review__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 10px;
    }
    
    .tenant-review__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
    }
    
    .tenant-review__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .tenant-review__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }

    .deal-done {
        margin-bottom: 10px;
    }
    
    .host-navigation > li:hover {
        background-color: #F78513;
        color: white;
    }
    
    .tenant-review__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .tenant-review__info-rightMainContainer {
        width: 60%;
        min-height: 80vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        border: 1px solid antiquewhite;
        border: 0px solid black;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    }
    
    .tenant-review__info-rightMainContainerTop {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
    }
    
    .tenant-review__info-rightMainContainerTop:hover {
        -webkit-filter: brightness(95%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .tenant-review__info-rightMainContainerTop > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .tenant-review__info-rightMainContainerBottom {
        width: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .tenant-review__info-rightMainContainerBottom > label {
        margin: 5px 10px;
        border-bottom: 1px solid lightgray;
        width: 180px;
        font-weight: bold;
    }
    
    .tenant-review__info-rightMainContainerBottom > p { 
        margin: 0 10px;
    }
    
    .tenant-review__info-rightMainContainerBottom > p:nth-of-type(10) {
        margin: 0 10px 10px 10px;
    }
    
    .tenant-review__info-rightMainContainerBottomImage {
        position: absolute;
        width: 80px;
        height: 60px;
        top: 10px;
        right: 20px;
    }
    
    .tenant-review__info-rightMainContainerBottomImage:hover {
        -webkit-filter: brightness(95%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .tenant-review__info-rightMainContainerBottomImage > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .tenant-review__info-rightMainContainerBottomButton {
        position: absolute;
        top: 80px;
        right: 20px;
    }
    
    .tenant-review__info-rightMainContainerBottomButton > button {
        background-color: #F78513;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .tenant-review__info-rightMainContainerBottomButton > button:hover {
        background-color: white;
        color: #F78513;
        border: 1px solid #F78513;
    }

    .tenant-review__info-right_container_rating {
        width: 90%;
    }
}
/* end */


/* 760px  to 1030px Mobile resposive */
@media screen and (min-width: 760px) and (max-width: 1030px) {
    .tenant-review__page {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 10px 10px;
    }
    
    .tenant-review__info {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
    }
    
    .tenant-review__info-left {
        flex: 1;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }
    
    .incase-you-know {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    
    .host-image {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    
    .host-image > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 100%;
    }
    
    .tenant-review__info-left > p {
        margin: 20px 10px 10px 10px;
    }
    
    .host-navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-items: center;
        margin: 5px auto;
    }
    
    .host-navigation > li {
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        justify-content: center;
    }

    .deal-done {
        margin-bottom: 10px;
    }
    
    .host-navigation > li:hover {
        background-color: #F78513;
        color: white;
    }
    
    .tenant-review__info-right {
        flex: 4;
        width: 100%;
        min-height: 100%;
        background-color: white;
        border: 1px solid antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .tenant-review__info-rightMainContainer {
        width: 45%;
        min-height: 80vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        border: 1px solid antiquewhite;
        border: 0px solid black;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    }
    
    .tenant-review__info-rightMainContainerTop {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
    }
    
    .tenant-review__info-rightMainContainerTop:hover {
        -webkit-filter: brightness(95%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .tenant-review__info-rightMainContainerTop > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .tenant-review__info-rightMainContainerBottom {
        width: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .tenant-review__info-rightMainContainerBottom > label {
        margin: 5px 10px;
        border-bottom: 1px solid lightgray;
        width: 180px;
        font-weight: bold;
    }
    
    .tenant-review__info-rightMainContainerBottom > p { 
        margin: 0 10px;
    }
    
    .tenant-review__info-rightMainContainerBottom > p:nth-of-type(10) {
        margin: 0 10px 10px 10px;
    }
    
    .tenant-review__info-rightMainContainerBottomImage {
        position: absolute;
        width: 80px;
        height: 60px;
        top: 10px;
        right: 20px;
    }
    
    .tenant-review__info-rightMainContainerBottomImage:hover {
        -webkit-filter: brightness(95%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .tenant-review__info-rightMainContainerBottomImage > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .tenant-review__info-rightMainContainerBottomButton {
        position: absolute;
        top: 80px;
        right: 20px;
    }
    
    .tenant-review__info-rightMainContainerBottomButton > button {
        background-color: #F78513;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
    }
    
    .tenant-review__info-rightMainContainerBottomButton > button:hover {
        background-color: white;
        color: #F78513;
        border: 1px solid #F78513;
    }

    .tenant-review__info-right_container_rating {
        width: 80%;
    }
}
/* end */
