.banner {
    height: 50vh;
    position: relative;
    background-image: url("./Images/Screenshot\ 2022-08-08\ 161443.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 5vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    max-width: 300px;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #F78513 !important;
}

.banner__info > button {
    background-color: #F78513;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #F78513;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.banner__info > h5 {
    margin-top: 10px;
}

/* 440px Mobile resposive */
@media screen and (max-width: 440px) {
    .banner {
        height: 50vh;
        width: 100%;
        position: relative;
        background-image: url("./Images/Screenshot\ 2022-08-08\ 161443.png");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
    .banner__info {
        background-color: black;
        color: white;
        padding-top: 5vh;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
        max-width: 300px;
    }
    
    .banner__search {
        display: flex;
        flex-direction: column;
    }
    
    .banner__searchButton{
        background-color: white !important;
        font-weight: 900 !important;
        text-transform: inherit !important;
        color: #F78513 !important;
    }
    
    .banner__info > button {
        background-color: #F78513;
        color: white;
        text-transform: inherit;
        margin-top: 20px;
        font-weight: 600;
    }
    
    .banner__info > button:hover {
        background-color: white;
        color: #F78513;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    }
    
    .banner__info > h5 {
        margin-top: 10px;
    }
}

/* end */

