.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
    bottom: 0;
}

.social_handles {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.social_handles > p {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.social_handles > p > a {
    display: flex;
    align-items: center;
    color: #272727;
    transition: all 0.3s ease-in-out;
}

.social_handles > p > a:hover {
    color: #F78513;
}

.footer > p {
    padding: 5px;
    font-size: 14px;
}

/* 440px Mobile resposive */
@media screen and (max-width: 440px) {
    
}