.header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: white;
    z-index: 100;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.header__scrollable {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    z-index: 100;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 80px;
    cursor: pointer;
}

.header__center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    border-radius: 999px;
    border: 1px solid lightgray;
}

.header__center_realer {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    border-radius: 999px;
    border: 1px solid lightgray;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.header__center_realer > input {
    text-align: center;
}

.header__center > input {
    border: none;
    width: 250px;
    height: 30px;
    outline-width: 0;
    padding: 10px;
}


.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    margin-right: 80px;
    position: relative;
}

.header__right-float {
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    top: 15vh;
    right: 30px;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    min-height: 20vh;
}
.magicFloatingHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.magicFloatingHeader > span {
    margin: 10px auto 0px auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid lightgray;
    width: 90%;
}

.magicFloatingHeader > span:hover {
    color: #F78513;
}

.magicFloatingHeader > button {
    background-color: #F78513;
    text-transform: inherit;
    color: white;
    transform: all 0.3s ease-in-out;
    margin: 10px auto 0 auto;
}

.magicFloatingHeader > button:hover {
    color:#F78513;
    border: 1px solid #F78513;
    background-color: white;
}

.header__right > p {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header__right > p:hover {
    transition: all 0.3s ease-in-out;
    color: #F78513 !important;
}

.header__right > span {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header__right > span:hover {
    transition: all 0.3s ease-in-out;
    color: #F78513 !important;
}

.header__right .text-decoration-none {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.magicImageSource {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid lightgray;
}

.header__right .text-decoration-none:hover {
    transition: all 0.3s ease-in-out;
    color: #F78513 !important;
}

/* 440px Mobile resposive */
@media screen and (max-width: 440px) {
    .header__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: sticky;
        background-color: white;
        z-index: 100;
        width: 100%;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .header__scrollable {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        z-index: 100;
        width: 100%;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .header__icon {
        object-fit: contain;
        width: 50px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .header__center {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: fit-content;
        max-height: fit-content;
        padding: 10px;
        border-radius: 999px;
        border: 1px solid lightgray;
    }
    
    .header__center_realer {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: fit-content;
        max-height: fit-content;
        padding: 10px;
        border-radius: 999px;
        border: 1px solid lightgray;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    }
    
    .header__center_realer > input {
        text-align: center;
    }
    
    .header__center > input {
        border: none;
        width: 80px;
        height: 20px;
        outline-width: 0;
        padding: 10px;
    }
    
    
    .header__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 24vw;
        margin-right: 10px;
        position: relative;
    }
    
    .magicFloatingHeader {
        display: flex;
        justify-content:space-evenly;
        width: 100%;
    }

    .header__right-float {
        position: absolute;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
        top: 12vh;
        right: 10px;
        z-index: 1;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        min-height: 20vh;
    }
    .magicFloatingHeader > button {
        background-color: #F78513;
        text-transform: inherit;
        color: white;
        transform: all 0.3s ease-in-out;
    }
    
    .magicFloatingHeader > button:hover {
        color:#F78513;
        border: 1px solid #F78513;
        background-color: white;
    }
    
    .header__right > p {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .header__right > p:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }
    
    .header__right > span {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .header__right > span:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }

    .header__right .languageSpan {
        display: none;
    }
    
    .header__right .text-decoration-none {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .magicImageSource {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: auto;
        border: 1px solid lightgray;
    }
    
    .header__right .text-decoration-none:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }
    .header__right .live-it {
        display: none;
    }
}

/* end */


/* 440px  to 750px Mobile resposive */
@media screen and (min-width: 540px) and (max-width: 750px) {
    .header__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: sticky;
        background-color: white;
        z-index: 100;
        width: 100%;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .header__scrollable {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        z-index: 100;
        width: 100%;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .header__icon {
        object-fit: contain;
        width: 60px;
        margin-left: 20px;
        cursor: pointer;
    }
    
    .header__center {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: fit-content;
        max-height: fit-content;
        padding: 10px;
        border-radius: 999px;
        border: 1px solid lightgray;
    }
    
    .header__center_realer {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: fit-content;
        max-height: fit-content;
        padding: 10px;
        border-radius: 999px;
        border: 1px solid lightgray;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    }
    
    .header__center_realer > input {
        text-align: center;
    }
    
    .header__center > input {
        border: none;
        width: 150px;
        height: 20px;
        outline-width: 0;
        padding: 10px;
    }
    
    
    .header__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30vw;
        margin-right: 20px;
        position: relative;
    }
    
    .magicFloatingHeader {
        display: flex;
        justify-content:space-evenly;
        width: 100%;
    }

    .header__right-float {
        position: absolute;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
        top: 13vh;
        right: 10px;
        z-index: 1;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        min-height: 20vh;
    }
    .magicFloatingHeader > button {
        background-color: #F78513;
        text-transform: inherit;
        color: white;
        transform: all 0.3s ease-in-out;
    }
    
    .magicFloatingHeader > button:hover {
        color:#F78513;
        border: 1px solid #F78513;
        background-color: white;
    }
    
    .header__right > p {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .header__right > p:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }
    
    .header__right > span {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .header__right > span:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }
    
    .header__right .text-decoration-none {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .magicImageSource {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: auto;
        border: 1px solid lightgray;
    }
    
    .header__right .text-decoration-none:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }
    .header__right .live-it {
        display: none;
    }
}

/* end */



/* 760px  to 1030px Mobile resposive */
@media screen and (min-width: 760px) and (max-width: 1030px) {
    .header__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: sticky;
        background-color: white;
        z-index: 100;
        width: 100%;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .header__scrollable {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        z-index: 100;
        width: 100%;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .header__icon {
        object-fit: contain;
        width: 60px;
        margin-left: 20px;
        cursor: pointer;
    }
    
    .header__center {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: fit-content;
        max-height: fit-content;
        padding: 10px;
        border-radius: 999px;
        border: 1px solid lightgray;
    }
    
    .header__center_realer {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: fit-content;
        max-height: fit-content;
        padding: 10px;
        border-radius: 999px;
        border: 1px solid lightgray;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    }
    
    .header__center_realer > input {
        text-align: center;
    }
    
    .header__center > input {
        border: none;
        width: 250px;
        height: 20px;
        outline-width: 0;
        padding: 10px;
    }
    
    
    .header__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35vw;
        margin-right: 20px;
        position: relative;
    }
    
    .magicFloatingHeader {
        display: flex;
        justify-content:space-evenly;
        width: 100%;
    }

    .header__right-float {
        position: absolute;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
        top: 9vh;
        right: 10px;
        z-index: 1;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        min-height: 20vh;
    }
    .magicFloatingHeader > button {
        background-color: #F78513;
        text-transform: inherit;
        color: white;
        transform: all 0.3s ease-in-out;
    }
    
    .magicFloatingHeader > button:hover {
        color:#F78513;
        border: 1px solid #F78513;
        background-color: white;
    }
    
    .header__right > p {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .header__right > p:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }
    
    .header__right > span {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .header__right > span:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }
    
    .header__right .text-decoration-none {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .magicImageSource {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: auto;
        border: 1px solid lightgray;
    }
    
    .header__right .text-decoration-none:hover {
        transition: all 0.3s ease-in-out;
        color: #F78513 !important;
    }
}

