.password_resets {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.password_resets > form {
    width: 260px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #EEE;
    padding: 10px;
}

.password_resets > form > input {
    padding: 5px;
    border: 1px solid #000;
    outline: none;
}

.password_resets > form > button {
    background-color: #F78513;
    color: white;
    text-transform: inherit;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.password_resets > form > button:hover {
    border: 1px solid #F78513;
    background-color: white;
    color: #F78513;
}

@media screen and (max-width: 960px) {

    .password_resets {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
       padding: 10px;
    }
    
    .password_resets > form {
        width: 260px;
        display: flex;
        flex-direction: column;
        margin: auto;
        border: 1px solid #EEE;
        padding: 10px;
    }
    
    .password_resets > form > input {
        padding: 5px;
        border: 1px solid #000;
        outline: none;
    }
    
    .password_resets > form > button {
        background-color: #F78513;
        color: white;
        text-transform: inherit;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
    }
    
    .password_resets > form > button:hover {
        border: 1px solid #F78513;
        background-color: white;
        color: #F78513;
    }
}