.search {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.searchNumber__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search .searchNumber__container > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 559px;
    padding: 10px;
}

.search .searchNumber__container > h2 > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
}

.search .searchNumber__container > input {
    max-width: 100px;
    padding: 20px;
    height: 30px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.search .searchNumber__container > input:focus {
    outline-width: 0;
}

.search .searchNumber__container > button {
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    padding: 10px;
}

.search .searchNumber__container > button:nth-of-type(2) {
    margin-left: 5px;
}

.search .searchNumber__container > button:hover {
    background-color: white;
    color: #ff7779;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}