.creative_heaven {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.creative_heaven__info {
    padding: 20px;
    position: relative;
}

.creative_heaven__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.creative_heaven__info > h1 {
    margin-bottom: 30px;
}

.creative_heaven__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
    background-color: #F78513;
    color: white;
    transition: all 0.3s ease-in-out;
}


.creative_heaven__info > button:hover {
    background-color: white;
    color: #F78513;
    border: 1px solid #F78513;
}

.HEYoCreative {
    width: 60%;
    min-height: 50vh;
    max-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    margin: 20px auto 0 auto;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
}

.HEYoCreative::-webkit-scrollbar {
    display: none;
}

.HEYoCreative > button {
    background-color: #F78513;
    width: 150px;
    color: white;
    transition: all 0.3s ease-in-out;
    text-transform: inherit;
    margin: 10px auto;
}

.HEYoCreative > button:nth-of-type(1) {
    background-color: white;
    color: #F78513;
    border: 1px solid #F78513;
}

.HEYoCreative > button:hover {
    background-color: white;
    border: 1px solid #F78513;
    color: #F78513;
}

/* 440px Mobile resposive */
@media screen and (max-width: 440px) {
    .creative_heaven__info {
        padding: 10px;
    }
    
    .creative_heaven__info > p {
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .creative_heaven__info > h1 {
        margin-bottom: 30px;
    }
    
    .creative_heaven__info > button {
        border-radius: 30px;
        text-transform: inherit;
        margin: 5px;
    }
}
/* end */