.terraced {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.terraced_overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.terraced__info {
    padding: 20px;
    position: relative;
}

.terraced__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.terraced__info > h1 {
    margin-bottom: 30px;
}

.terraced__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
    background-color: #F78513;
    color: white;
    transition: all 0.3s ease-in-out;
    border: 1px solid #F78513;
}


.terraced__info > button:hover {
    background-color: white;
    color: #F78513;
    border: 1px solid #F78513;
}

.heyo_before {
    position: absolute;
    width: 60%;
    min-height: 50vh;
    max-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    padding: 10px;
}

.heyo_before > button {
    text-transform: inherit;
    margin: 5px;
    background-color: #F78513;
    color: white;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    border: 1px solid #F78513;
}

.heyo_before > button:hover {
    background-color: white;
    color: #F78513;
    border: 1px solid #F78513;
}

.heyo_before::-webkit-scrollbar {
    display: none;
}

.HEYoterraced {
    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    margin: auto;

    z-index: 2;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
}

.HEYoterraced::-webkit-scrollbar {
    display: none;
}

.HEYoterraced > button {
    background-color: #F78513;
    width: 150px;
    color: white;
    transition: all 0.3s ease-in-out;
    text-transform: inherit;
    margin: 10px auto;
    border: 1px solid #F78513;
}

.HEYoterraced > button:nth-of-type(24) {
    background-color: white;
    color: #F78513;
    border: 1px solid #F78513;
}

.HEYoterraced > button:hover {
    background-color: white;
    border: 1px solid #F78513;
    color: #F78513;
}

/* 440px Mobile resposive */
@media screen and (max-width: 440px) {
    .terraced__info {
        padding: 10px;
    }
    
    .terraced__info > p {
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .terraced__info > h1 {
        margin-bottom: 30px;
    }
    
    .terraced__info > button {
        border-radius: 30px;
        text-transform: inherit;
        margin: 5px;
    }

    .heyo_before {
        width: 95%;
    }
}
/* end */